/* Google Fonts - Poppins */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../images/showImg/punto\ 0.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.container {
  max-width: 1120px;
  width: 100%;
  padding: 40px 0;
}
.slide-container {
  margin: 0 30px;
  overflow: hidden;
}
.card {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 8px;
}
.card .image-box {
  height: auto;
}
.card .image-box img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}
.card .profile-details {
  display: flex;
  align-items: center;
  column-gap: 12px;
  padding: 15px;
}
.card .profile-details img {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.profile-details .name {
  font-size: 15px;
  font-weight: 500;
}
.profile-details .job {
  font-size: 12px;
  font-weight: 500;
  color: #4d4d4d;
}
.back-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.selectors {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 8px;
  padding: 0 15px 15px 15px;
}
.selectors label {
  font-size: 12px;
  color: #4d4d4d;
  font-weight: 500;
}

.color-select {
  padding: 3px 6px;
  border: 1px solid #858383;
  background-color:  rgba(207, 204, 204, 0.95);
  font-weight: 300;
  cursor: pointer;
  font-size: 11px;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.color-select:hover {
  background-color: rgba(207, 204, 204, 0.95);
  cursor: pointer;
}

.back-button {
  padding: 12px 24px;
  background-color: #000;
  color: #fff;
  text-decoration: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 500;
  transition: background-color 0.3s ease;
}

.back-button:hover {
  background-color: #333;

}

.swiper-navBtn {
  color: #000;
  height: 40px;
  width: 40px;
  background: #fff;
  border-radius: 50%;
}
.swiper-navBtn::before,
.swiper-navBtn::after {
  font-size: 18px;
}
.swiper-pagination-bullet {
  background-color: #000;
}
@media screen and (max-width: 768px) {
  .swiper-navBtn {
    display: none;
  }
}